* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background: #111; /* Add global dark background */
}

#root {
  width: 100%;
  min-height: 100vh;
}